@use "mixins";
@use "variables";

.bubble {
  @include mixins.bubble_shape;
}
.bubble-1 {
  @include mixins.bubble(15px, 21px, 59px);
  @include mixins.bubble_animation(0);
}
.bubble-2 {
  @include mixins.bubble(27px, 36px, 16px);
  @include mixins.bubble_animation(variables.$stagger);
}
.bubble-3 {
  @include mixins.bubble(21px, 63px, 49px);
  @include mixins.bubble_animation(variables.$stagger * 2);
}
.bubble-4 {
  @include mixins.bubble(15px, 98px, 37px);
  @include mixins.bubble_animation(variables.$stagger * 3);
}
.bubble-5 {
  @include mixins.bubble_hollow(5px, 116px, 20px);
  @include mixins.bubble_animation(variables.$stagger * 4);
}
.bubble-6 {
  @include mixins.bubble(6px, 128px, 63px);
  @include mixins.bubble_animation(variables.$stagger * 5);
}
.bubble-7 {
  @include mixins.bubble(27px, 150px, 52px);
  @include mixins.bubble_animation(variables.$stagger * 6);
}
.bubble-8 {
  @include mixins.bubble(19px, 154px, 18px);
  @include mixins.bubble_animation(variables.$stagger * 7);
}
.bubble-9 {
  @include mixins.bubble(10px, 189px, 13px);
  @include mixins.bubble_animation(variables.$stagger * 8);
}
.bubble-10 {
  @include mixins.bubble_hollow(5px, 199px, 52px);
  @include mixins.bubble_animation(variables.$stagger * 9);
}
.bubble-11 {
  @include mixins.bubble(21px, 220px, 29px);
  @include mixins.bubble_animation(variables.$stagger * 10);
}
.bubble-12 {
  @include mixins.bubble(21px, 263px, 48px);
  @include mixins.bubble_animation(variables.$stagger * 11);
}
.bubble-13 {
  @include mixins.bubble_hollow(5px, 275px, 16px);
  @include mixins.bubble_animation(variables.$stagger * 12);
}
.bubble-14 {
  @include mixins.bubble(15px, 296px, 34px);
  @include mixins.bubble_animation(variables.$stagger * 13);
}
.triangle {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.12);
  border-color: rgba(0, 0, 0, 0.12);
}
.triangle-1 {
  @include mixins.bubble_shape;
  @include mixins.bubble(10px, 22px, 55px);
  @include mixins.triangle_animation("X", 0);
}
.triangle-2 {
  @include mixins.triangle_hollow(16px, 14px, 27px, 15px);
  @include mixins.triangle_animation("Y", variables.$stagger-long);
}
.triangle-3 {
  @include mixins.triangle_hollow(24px, 20px, 60px, 43px);
  @include mixins.triangle_animation("X", variables.$stagger-long * 2);
}
.triangle-4 {
  @include mixins.bubble_shape(3px);
  @include mixins.bubble_hollow(8px, 61px, 17px);
  @include mixins.triangle_animation("Y", variables.$stagger-long * 3);
}
.triangle-5 {
  @include mixins.triangle(10px, 8px, 101px, 25px);
  transform: rotate(180deg);
  @include mixins.triangle_animation("X", variables.$stagger-long * 4);
}

.triangle-6 {
  @include mixins.triangle(8px, 6px, 103px, 60px);
  transform: rotate(-90deg);
  @include mixins.triangle_animation("Y", variables.$stagger-long * 5);
}

.triangle-7 {
  @include mixins.triangle(25px, 19px, 126px, 17px);
  transform: rotate(180deg);
  @include mixins.triangle_animation("X", variables.$stagger-long * 6);
}

.triangle-8 {
  @include mixins.triangle(21px, 16px, 149px, 50px);
  @include mixins.triangle_animation("Y", variables.$stagger-long * 7);
}

.triangle-9 {
  @include mixins.triangle(11px, 8px, 177px, 21px);
  @include mixins.triangle_animation("Y", variables.$stagger-long * 8);
}

.triangle-10 {
  @include mixins.bubble_shape;
  @include mixins.bubble(10px, 177px, 60px);
  @include mixins.triangle_animation("X", variables.$stagger-long * 9);
}

.triangle-11 {
  @include mixins.triangle(18px, 13px, 213px, 33px);
  transform: rotate(180deg);
  @include mixins.triangle_animation("Y", variables.$stagger-long * 10);
}

.triangle-12 {
  @include mixins.bubble_shape(2px);
  @include mixins.bubble_hollow(10px, 233px, 65px);
  @include mixins.triangle_animation("X", variables.$stagger-long * 11);
}

.triangle-13 {
  @include mixins.bubble_shape;
  @include mixins.bubble(10px, 250px, 22px);
  @include mixins.triangle_animation("Y", variables.$stagger-long * 12);
}

.triangle-14 {
  @include mixins.triangle_hollow(16px, 14px, 270px, 45px);
  transform: rotate(180deg);
  @include mixins.triangle_animation("X", variables.$stagger-long * 13);
}

.stick {
  .block {
    position: absolute;
    overflow: hidden;
    z-index: 999;
    border-radius: 7px;
    .inner {
      border-radius: 7px;
      background-color: rgba(0, 0, 0, 0.12);
      border-color: rgba(0, 0, 0, 0.12);
      border-width: 3px;
      height: 100%;
      width: 100%;
      position: absolute;
    }
    &:nth-child(2n + 1) .inner-2 {
      left: -200%;
    }
    &:nth-child(2n + 2) .inner-2 {
      left: 200%;
    }
  }
  .block-1 {
    @include mixins.block_hollow(16px, 31px, 16px, 30px);
    & .inner {
      @include mixins.block_animation("R", 0);
    }
  }
  .block-2 {
    @include mixins.block(14px, 42px, 50px, 15px);
    & .inner {
      @include mixins.block_animation("L", variables.$stagger);
    }
  }
  .block-3 {
    @include mixins.block(18px, 9px, 73px, 64px);
    & .inner {
      @include mixins.block_animation("R", variables.$stagger * 2);
    }
  }
  .block-4 {
    @include mixins.block(9px, 14px, 84px, 26px);
    & .inner {
      @include mixins.block_animation("L", variables.$stagger * 3);
    }
  }
  .block-5 {
    @include mixins.block(15px, 15px, 109px, 45px);
    & .inner {
      @include mixins.block_animation("R", variables.$stagger * 4);
    }
    .inner {
      border-radius: 50%;
    }
  }
  .block-6 {
    @include mixins.block(9px, 27px, 135px, 19px);
    & .inner {
      @include mixins.block_animation("L", variables.$stagger * 5);
    }
  }
  .block-7 {
    @include mixins.block(12px, 12px, 144px, 60px);
    & .inner {
      @include mixins.block_animation("R", variables.$stagger * 6);
    }
    .inner {
      border-radius: 50%;
      border-style: solid;
      box-sizing: border-box;
      background-color: transparent;
    }
  }
  .block-8 {
    @include mixins.block(27px, 14px, 164px, 24px);
    & .inner {
      @include mixins.block_animation("L", variables.$stagger * 7);
    }
  }
  .block-9 {
    @include mixins.block(8px, 8px, 188px, 64px);
    & .inner {
      @include mixins.block_animation("R", variables.$stagger * 8);
    }
  }
  .block-10 {
    @include mixins.block_hollow(12px, 22px, 219px, 11px);
    & .inner {
      @include mixins.block_animation("L", variables.$stagger * 9);
    }
  }
  .block-11 {
    @include mixins.block(22px, 22px, 226px, 50px);
    & .inner {
      @include mixins.block_animation("R", variables.$stagger * 10);
    }
    .inner {
      border-radius: 50%;
    }
  }
  .block-12 {
    @include mixins.block(18px, 9px, 248px, 26px);
    & .inner {
      @include mixins.block_animation("L", variables.$stagger * 11);
    }
  }
  .block-13 {
    @include mixins.block(8px, 8px, 278px, 50px);
    & .inner {
      @include mixins.block_animation("R", variables.$stagger * 12);
    }
    .inner {
      border-radius: 50%;
    }
  }
  .block-14 {
    @include mixins.block_hollow(12px, 22px, 297px, 18px);
    & .inner {
      @include mixins.block_animation("L", variables.$stagger * 13);
    }
  }
  .block-15 {
    @include mixins.block(9px, 27px, 307px, 48px);
    & .inner {
      @include mixins.block_animation("R", variables.$stagger * 14);
    }
  }
}
